div.wpcf7 {
    margin: 0;
    padding: 0;
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #ff0000;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
    position: relative;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #ff0000;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-display-none {
    display: none;
}

div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url('../../images/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: visible;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
    margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
    cursor: default;
}

.trans {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.fb {
    font-weight: bold;
}

.tac {
    text-align: center;
}

.tdn {
    text-decoration: none;
}

.tdu {
    text-decoration: underline;
}

.bgsc {
    background-size: cover;
}

.inline {
    display: -moz-inline-box;
    display: inline-block;
}

/*BASE*/

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: #444;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    background: #fef8f9 url("") top center repeat-y;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, "Droid Sans", "Hiragino Sans", "ヒラギノ角ゴシック", "游ゴシック  Medium", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body.home {
    background: none;
}

/*CF*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*LINK*/

a:link {
    color: aqua;
    text-decoration: underline;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

a:visited {
    color: aqua;
    text-decoration: underline;
}

a:hover {
    color: #777;
    text-decoration: underline;
}

a:active {
    color: aqua;
    text-decoration: none;
}

a img {
    border: none;
    text-decoration: none;
}

a img:hover {
    border: none;
    opacity: 0.7;
    text-decoration: none;
}

/*LETTER*/

strong {
    font-weight: bold;
}

.attention {
    color: aqua;
}

.small {
    font-size: 85%;
}

.large {
    font-size: 124%;
}

::selection {
    background: aqua;
    color: #fff;
}

::-moz-selection {
    background: aqua;
    color: #fff;
}

/*HEADER*/

header {
    display: block;
    height: 18.5px;
    background: url("") repeat-x left top;
    background-size: 320px 18.5px;
}

/*FOOTER*/

footer {
    text-align: center;
    padding: 10px 0 18px;
    background: url("") repeat-x left bottom;
    background-size: 320px 12.5px;
}

footer small {
    font-size: 70%;
    line-height: 1.8;
}

footer a:link {
    color: #fff;
    text-decoration: underline;
}

footer a:visited {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #ccc;
    text-decoration: none;
}

footer a:active {
    color: #fff;
    text-decoration: none;
}

.home footer {
    text-align: left;
    margin: 0;
    padding: 0;
    background: none;
}

.home footer div.foothomenav {
    background: rgba(255, 255, 255, 0.5);
}

.home footer div.foothomenav ul.iphonenav li a:link {
    color: #777;
    text-decoration: none;
}

.home footer div.foothomenav ul.iphonenav li a:visited {
    color: #777;
    text-decoration: none;
}

.home footer div.foothomenav ul.iphonenav li a:hover {
    color: #ccc;
    text-decoration: none;
}

.home footer div.foothomenav ul.iphonenav li a:active {
    color: #777;
    text-decoration: none;
}

.home footer div.foothomenav ul.iphonenav li:last-child {
    float: right;
}

/*TOP*/

ul.iphonenav {
    padding: 4% 0 0;
    text-align: center;
}

ul.iphonenav li {
    float: left;
    width: 16%;
    margin: 0 4.5% 5.5%;
}

ul.iphonenav li p {
    display: block;
    margin: 6% auto 0;
    font-size: 77%;
    line-height: 1.3;
    font-weight: bold;
}

ul.iphonenav li a {
    display: block;
}

ul.iphonenav li a:link {
    color: #fff;
    text-decoration: none;
}

ul.iphonenav li a:visited {
    color: #fff;
    text-decoration: none;
}

ul.iphonenav li a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

ul.iphonenav li a:active {
    color: #fff;
    text-decoration: none;
}

ul.iphonenav li:last-child {
    float: right;
}

.home footer ul.iphonenav {
    padding: 3% 0 0;
}

.home footer ul.iphonenav li {
    margin: 0 4.5% 2%;
}

/************************ iphone6 ************************/

@media (max-width: 375px) {
    ul.iphonenav li {
        width: 20%;
        margin: 0 2.5% 6%;
    }
    .home footer ul.iphonenav {
        padding: 2% 0 0;
    }
    .home footer ul.iphonenav li {
        margin: 0 2.5% 2%;
    }
}

/************************ iphone5 ************************/

@media (max-width: 320px) {
    ul.iphonenav li {
        width: 20%;
        margin: 0 2.5% 3.5%;
    }
    .home footer ul.iphonenav {
        padding: 2% 0 0;
    }
    .home footer ul.iphonenav li {
        margin: 0 2.5% 2%;
    }
}

div.topnewsbox {
    margin: 0 auto 0;
    max-width: 100%;
    bottom: 66px;
    padding: 50px 0 20px;

    background-size: cover;
}

div.topnewsbox div.topnews {
    padding: 10px;
    color: #444;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    width: 100%;
    margin: 0 0 0 0;
    border-radius: 15px;
}

div.topnewsbox div.topnews h2 {
    font-weight: bold;
    font-size: 100%;
    line-height: 1.4;
}

div.topnewsbox div.topnews p {
    font-size: 77%;
    line-height: 1.6;
}

/*PAGES*/

section.pagetitle {
    margin: 40px 0;
}

div.pagebody {
    padding: 15px 10px 15px;
    background: rgba(255, 255, 255, 0.9);
}

div.pagebody article {
    margin-bottom: 4%;
}

div.pagebody article h3 {
    font-size: 124%;
    padding: 15px 0 15px 26px;
    margin-bottom: 15px;
    line-height: 1.5;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
    font-weight: bold;
    background: url("") no-repeat left center;
    background-size: 20px 17.5px;
}

div.pagebody article div.postbody {
    line-height: 1.7;
    word-wrap: break-word;
}

div.pagebody article div.postbody section {
    margin-bottom: 15px;
}

div.pagebody article div.postbody section:last-child {
    margin-bottom: 0;
}

div.pagebody article div.postbody p {
    margin-bottom: 15px;
}

div.pagebody article div.postbody p:last-child {
    margin-bottom: 0;
}

div.pagebody article div.postbody h4 {
    font-size: 116%;
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
    font-weight: bold;
}

div.pagebody article:last-child {
    margin-bottom: 0;
}

/*CAL SINGLE*/

.category div.pagebody article,
.single div.pagebody article {
    padding: 0 0 4%;
}

.category div.pagebody article span.postdate,
.single div.pagebody article span.postdate {
    font-weight: bold;
    color: #fff;
    background: aqua;
    padding: 10px;
    border-radius: 4px;
    display: -moz-inline-box;
    display: inline-block;
}

.category div.pagebody article h3,
.single div.pagebody article h3 {
    font-size: 124%;
    padding: 15px 0 15px 26px;
    margin: 10px 0 15px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*PAGENATION*/

div.pagenation a:link {
    color: #fff;
    text-decoration: none;
}

div.pagenation a:visited {
    color: #fff;
    text-decoration: none;
}

div.pagenation a:hover {
    color: #fff;
    text-decoration: none;
}

div.pagenation a:active {
    color: #fff;
    text-decoration: none;
}

div.pagenation a div {
    background: aqua;
    color: #fff;
    border-radius: 6px;
    padding: 15px;
    font-weight: bold;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

div.pagenation a div:hover {
    background: #777;
}

div.pagenation div.next {
    float: right;
}

div.pagenation div.prev {
    float: left;
}

div.pagenation div.backcal {
    font-weight: bold;
}

div.pagenation div.backcal a {
    text-align: center;
    width: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    padding: 0;
    margin: 4% auto 0;
    display: block;
    background: aqua;
}

div.pagenation div.backcal a:hover {
    background: #777;
}

div.pagenation div.backbtn a {
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    padding: 0;
    margin: 4% auto 0;
    display: block;
    background: aqua;
}

div.pagenation div.backbtn a i {
    font-size: 154%;
}

div.pagenation div.backbtn a:hover {
    background: #777;
}

/*PAGE TABLE*/

table.mailform {
    width: 100%;
    margin-bottom: 10px;
}

table.mailform tr {
    width: 100%;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

table.mailform tr th {
    padding: 10px 10px 0 10px;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: bold;
}

table.mailform tr td {
    padding: 10px;
    width: 100%;
    display: block;
}

/*CONTACT*/

span.required {
    background: aqua;
    color: #fff;
    font-size: 85%;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

table.mailform textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    background: #fff;
    border: 1px solid #ddd;
}

table.mailform input {
    width: 100%;
    padding: 10px;
}

table.mailform input[type="file"] {
    padding: 20px 0 0;
}

table.mailform tr th {
    text-align: left;
}

input[type="submit"],
button {
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
}

input.soushin {
    width: 100%;
    height: 46px;
    line-height: 46px;
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    font-weight: bold;
    font-size: 108%;
    text-align: center;
    text-decoration: none;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #777;
    box-shadow: 0 4px 0 #444;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
}

input.soushin:hover {
    background-color: #ccc;
    box-shadow: 0 4px 0 #777;
}

input.soushin:active {
    top: 4px;
    box-shadow: none;
}

img.ajax-loader {
    float: left;
    width: auto!important;
}

span.mwform-file-delete {
    color: #903;
    font-size: 11px;
}

/*CAL*/

span.fc-title {
    font-size: 8px!important;
}

/****************************************************/

/************************ PC ************************/

/****************************************************/

@media (min-width: 768px) {
    body {
        background-attachment: fixed;
    }
    .sp {
        display: none;
    }
    .leftbox {
        padding-right: 20px;
    }
    .rightbox {
        padding-left: 20px;
    }
    /*TOP*/
    div#logobox {
        background: url("") no-repeat center center;
        background-size: cover;
        height: 2667;
        width: 4000;
    }
    div.topbox {
        width: 680px;
        margin: 0 auto 0;
        padding: 20% 0 0;
    }
    div.topbox div.row {
        margin: 0;
    }
    div.topcontents {
        background: rgba(255, 255, 255, 0.5);
        padding: 40px;
        line-height: 2;
    }
    div.topcontents h1 {
        font-weight: bold;
        font-weight: 900;
        margin: 0 0 20px;
        letter-spacing: 3px;
        font-size: 116%;
    }
    div.topcontents p {
        margin: 0 0 20px;
        line-height: 1.6;
    }
    div.topcontents div.topbtn {
        margin: 0 0 30px;
        text-align: center;
    }
    div.topcontents div.topbtn a {
        display: block;
        background: blue;
        color: #fff;
        padding: 15px 0;
        border-radius: 10px;
        letter-spacing: 2px;
        font-weight: bold;


    }
    div.topcontents div.topbtn a:link {
        color: #fff;
        text-decoration: none;
    }
    div.topcontents div.topbtn a:visited {
        color: #fff;
        text-decoration: none;
    }
    div.topcontents div.topbtn a:hover {
        color: blue;
        text-decoration: none;
        background: #fce9ed;
    }
    div.topcontents div.topbtn a:active {
        color: #fff;
        text-decoration: none;
    }
    div.topcontents small {
        font-size: 77%;
    }
    /*FOOTER*/
    footer {
        padding: 30px 0;
    }
    footer small {
        font-size: 77%;
    }
    /*MAIN*/
    main {
        max-width: 800px;
        margin: 0 auto 120px;
    }
    /*PAGES*/
    div.pagebody {
        padding: 60px;
    }
    div.pagebody article {
        margin-bottom: 60px;
    }
    div.pagebody article h3 {
        font-size: 154%;
        padding: 25px 0 25px 56px;
        margin-bottom: 30px;
        background-size: 40px 35px;
    }
    div.pagebody article div.postbody section {
        margin-bottom: 30px;
    }
    div.pagebody article div.postbody section.profimg {
        float: left;
        width: 47%;
        margin: 0 4% 0 0;
    }
    div.pagebody article div.postbody section.profbody {
        float: left;
        width: 49%;
    }
    div.pagebody article div.postbody p {
        margin-bottom: 20px;
    }
    div.pagebody article div.postbody h4 {
        padding: 0 0 15px;
        margin-bottom: 15px;
    }
    div.pagebody article div.postbody .size-thumbnail {
        width: 320px;
        height: auto;
    }
    div.pagebody article div.postbody .size-medium {
        width: 320px;
        height: auto;
    }
    div.pagebody article div.postbody .size-large {
        width: 640px;
        height: auto;
    }
    div.pagebody article div.postbody .aligncenter {
        clear: both;
        display: block;
        overflow: hidden;
        margin: 0 auto 20px;
    }
    div.pagebody article div.postbody .alignleft {
        float: left;
        margin: 0 20px 20px 0;
        display: -moz-inline-box;
        display: inline-block;
    }
    div.pagebody article div.postbody .alignright {
        float: right;
        margin: 0 0 20px 20px;
        display: -moz-inline-box;
        display: inline-block;
    }
    div.pagebody article div.postbody img.alignleft + br {
        display: none;
    }
    div.pagebody article div.postbody img.alignright + br {
        display: none;
    }
    /*CAL SINGLE*/
    .category div.pagebody article h3,
    .single div.pagebody article h3 {
        font-size: 147%;
        padding: 25px 0 25px 56px;
        margin: 10px 0 30px;
        background-size: 40px 35px;
    }
    /*PAGE TABLE*/
    table.mailform {
        margin-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;
    }
    table.mailform tr {
        border-top: 1px solid #f5f5f5;
        border-bottom: none;
    }
    table.mailform tr th {
        vertical-align: middle;
        padding: 20px;
        width: auto;
        display: table-cell;
        background: none;
        white-space: nowrap;
        text-align: right;
    }
    table.mailform tr td {
        vertical-align: middle;
        padding: 20px;
        width: auto;
        display: table-cell;
    }
    /*CONTACT*/
    input.soushin {
        height: 54px;
        line-height: 54px;
        font-size: 108%;
    }
    div.btnsubmit {
        width: 60%;
        margin: 0 auto;
    }
    /*BORDER*/
    div.border {
        position: fixed;
        z-index: 100;
        background: aqua;
    }
    div#border-t {
        height: 8px;
        left: 0;
        top: 0;
        width: 100%;
    }
    div#border-r {
        height: 180%;
        right: 0;
        top: 0;
        width: 8px;
    }
    div#border-b {
        height: 8px;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    div#border-l {
        height: 180%;
        left: 0;
        top: 0;
        width: 8px;
    }
}

/************************ SP ************************/

@media (max-width: 767px) {
    .pc {
        display: none;
    }
    .spmb {
        margin-bottom: 4%;
    }
}

/************************ CF7 ***********************
.wpcf7-not-valid-tip{color:@salmon!important; font-size:85%!important; line-height:2;}
.wpcf7-validation-errors{border:2px solid @gray !important; font-size:85%!important; color:@salmon!important; padding:10px!important;}
.wpcf7-response-output{border:2px solid @gray !important; font-size:85%!important; padding:10px!important;}*/

/************************ CAL ************************/

button.fc-today-button {
    display: none;
}

button.fc-month-button {
    display: none;
}

div.fc-center h2 {
    font-weight: bold;
    display: block;
    padding-left: 40px;
}

div.fc-toolbar {
    text-align: left!important;
}

thead.fc-head {
    border-top: 1px solid #ddd;
}

thead.fc-head tr {
    font-weight: bold;
    background: #f5f5f5;
    color: #111;
}

a.fc-day-grid-event {
    text-decoration: none;
}

span.fc-title {
    font-size: 10px!important;
}

/************************ FUWA ************************/

.fuwafuwa {
    -webkit-animation-name: fuwafuwa;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: fuwafuwa;
    -moz-animation-duration: 2.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
}

@-webkit-keyframes fuwafuwa {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -20px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes fuwafuwa {
    0% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(0, -20px);
    }
    100% {
        -moz-transform: translate(0, 0);
    }
}

/************************ VIDEO ************************/

div.video_box {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

div.video_box iframe,
div.video_box object,
div.video_box embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------------
10px = 77%     11px = 85%     12px = 93%     13px = 100%
14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
22px = 167%    23px = 174%    24px = 182%    25px = 189%
26px = 197%
------------------------------------------------------*/
